/* Kế thừa style từ component login */
.alert {
  transition: opacity 0.3s ease-in-out;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  .shadow-lg {
      box-shadow: none!important;
  }
  .bg-white {
      background-color: transparent!important;
  }
}
